<div class="container mt-5">
<h4>マイページ</h4>
<%= image_tag @customer.get_image_profile(200,200) %>
<%= @customer.nickname %>
<%= @customer.self_introduction %>

<%= link_to "会員情報編集", customers_information_edit_path, class:"btn btn-primary"%>
<table>
    <tbody>
        <tr>
            <td><%= link_to "お気に入りレシピ", favorites_path %></td>
            <td><%= link_to "マイレシピ", my_recipes_recipes_path %></td>
        </tr>
    </tbody>
</table>


<table>
    <P><strong>会員情報</strong></P>
    <tbody>
        <tr>
            <td>ニックネーム</td>
            <td><%= @customer.nickname %></td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
        </tr>
        <tr>
            <td>自己紹介</td>
            <td><% @customer.self_introduction %></td>
        </tr>
    </tbody>
</table>


</div>