<div class="container mt-5 mb-5">

<div class="row">
  <div class="col-9">
    <h4>マイページ</h4>
  </div>

  <div>
   <%= link_to "会員情報編集", customers_information_edit_path, class:"btn btn-primary p-2 bd-highlight" %>
  </div>
</div>

<div class="row">
    <div class"col-4">
<%= image_tag @customer.get_image_profile(200,200), class: 'rounded-circle'  %>
</div>
<div class"col-8">
  <h5><strong><%= @customer.nickname %></strong></h5><br>
  <%= @customer.self_introduction %>
</div>
</div>


<div class="row">

</div>
<div><%= link_to "お気に入りレシピ", favorites_path %></div>
<div><%= link_to "マイレシピ", my_recipes_recipes_path %></div>


    <div class="row mt-4">
    <div class="col-6">
      <table class="table border">
        <thead>
      <tr>
        <th>会員情報</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>ニックネーム</td>
            <td><%= @customer.nickname %></td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
        </tr>
    </tbody>
</table>
</div>
</div>


</div>