<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-9 ">
      <%= image_tag @customer.get_image_profile(100,100), class:"rounded-circle" %>
      <%= @customer.nickname %>
      <%= @customer.self_introduction %>
    </div>

    <div class="col-lg-8 mt-4 mb-3 ml-5">
      <h2><%= @recipe.dish_name %></h2>
      <div class="row">
        <div class="col-md-7 ">
          <%= image_tag @recipe.get_image(300,300), class:"rounded mr-5 mb-5 mt-3" %>
        </div>
        <div class="col-md-4 mt-3">
          <%= @recipe.recipe_description %>
        </div>
      </div>
      <h4>材料</h4>
      <ul>
        <% @recipe.materials.each do |material| %>
          <li><%= "#{material.material_name} - #{material.quantity}" %></li>
        <% end %>
      </ul>

      <h4>手順</h4>
      <% @recipe.recipe_descriptions.each do |recipe_description| %>
        <div class="row">
          <div class="col-md-4">
            <% if recipe_description.procedure_image.attached? %>
              <%= image_tag recipe_description.procedure_image.variant(resize: "100x100^").processed, class: 'img-fluid' %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
            <% end %>
          </div>
          <div class="col-md-8">
            <%= recipe_description.description %>
          </div>
        </div>
        <% end %>

      <table class="table text-center mt-5">
        <thead>
          <tr>
            <th>
              <p>コメント一覧</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.comments.each do |comment| %>
          <tr>
            <td>
              <p><%= comment.content %></p>
              <p style="font-size: 1.5rem;"><%= comment.content %></p>
            </td>
            <td>
              <%= link_to "削除する", admin_comment_path(comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class:"btn btn-outline-danger mt-4" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>