<div class="container mt-5 mb-5">

<p>レシピのタイトル</p>
<%= f.text_field :dish_name, required: true%>
<P>料理の写真を載せる</P>
<%= f.file_field :dish_image,  accept: "image/*" %>

<P>レシピ紹介文</P>
<%= f.text_area :recipe_description %>

<P><storong>料理の材料</storong></P>

<%= f.text_field :number_people %>何人分（例 ２人分）

<%= f.fields_for :materials do |m| %>
  <%= render "public/recipes/material_fields", f: m %>
<% end %>
<div id="materials-fields"></div>

<div class="form-group">
  <div class="col-10 mx-auto mt-2">
    <%= link_to_add_association "+フォームを追加", f, :materials,
    class: "btn btn-secondary btn-block",
    data: {
      association_insertion_node: '#materials-fields',
      association_insertion_method: 'before'
    }%>
  </div>
</div>

<%= f.fields_for :recipe_descriptions do |rd| %>
  <%= render "public/recipes/recipe_description_fields", f: rd %>
<% end %>
<div id="recipe_description"></div>

<div class="form-group">
  <div class="col-10 mx-auto mt-2">
    <%= link_to_add_association "+フォームを追加", f, :recipe_descriptions,
    class: "btn btn-secondary btn-block",
    data: {
      association_insertion_node: '#recipe_description',
      association_insertion_method: 'before'
    }%>
  </div>
</div>
  <div class="row">
    <div class="col-9">
      <p><storong>カテゴリーを選択</storong></p>
        <%= f.collection_select :categoriy_id, Categoriy.all, :id, :categoriy_name, required: true%>
  </div>

  <diV class="row">
    <div class="col-3">
      <%= f.submit 'レシピを投稿',class:"btn btn-outline-warning" %>
    </diV>
</div>
</div>