<div class="container mt-5 mb-5">
<h4>下書き</h4>

<table>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.get_image(200,200) %><% end %></td>
    <td><%= recipe.dish_name %></td>
    <td><%= recipe.recipe_description %></td>
    <td><%= link_to "レシピを編集する",edit_recipe_path(recipe.id), class:"btn btn-success"%></td>
    <td><%= link_to "削除する",recipe_path(recipe.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class:"btn btn-danger" %></td>
  </tr>

  <% end %>
</table>
</div>
<%= paginate @recipes %>