<div class="container mt-5 mb-5">
  <%= form_with model: @recipe, url: recipe_path, method: :put do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    
    
    <div class="row mt-4">
      <div class="form-inline mx-auto">
        <% if @recipe.is_draft == true %>
          <%= f.submit "レシピを公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
          <%= f.submit "下書きを更新", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
        <% else %>
          <%= f.submit "レシピを更新", :name => 'update_post', class:'btn btn-sm btn-warning text-light' %>
        <% end %>
      </div>
    </div>
    <div class="mt-4 pb-3 text-center">
      <u><%= link_to "レシピを削除", "/recipes/#{@recipe.id}", method: :delete, data: {confirm: "このレシピを削除しますか？"}, class:'text-danger' %></u>
    </div>
  <% end %>

</div>