
<div class="container mt-5 mb-5">
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
  <% end %>
  <div class="row">
    <div class="col-3 mt-5">
      <% @categories.each do |categoriy| %>
      <li class="list-group-item">
        <%= link_to categoriy.categoriy_name ,recipes_path(categoriy_id: categoriy.id) %>
      </li>
      <% end %>
      </div>

    <div class="col-9">
      <% if @word %>
      <h2><%= @word %>のレシピ</h2>
      <% else %>
      <h2>すべてのレシピ</h2>
      <% end %>

      <table class="table mt-3">
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <td><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.get_image(200,200), class: 'rounded img img-responsive full-width' %><% end %></td>
            <td class="align-middle"><strong><%= recipe.dish_name %></strong><br><%= recipe.recipe_description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @recipes %>
      </div>
    </div>
</div>