<div class="container mt-5">
<div class="row">
  <div class="col-3">
    <% @categories.each do |categoriy| %>
          <li class="list-group-item">
          <%= link_to categoriy.categoriy_name ,recipes_path(categoriy_id: categoriy.id) %>
          </li>
        <% end %>
  </div>
  <div class="col-9">

<% if @word %>
<h2><%= @word %>のレシピ</h2>
<% else %>
<h2>すべてのレシピ</h2>
<% end %>

<table>
  <tbody>

  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.get_image(200,200) %><% end %></td>
    <td><%= recipe.dish_name %></td>
    <td><%= recipe.recipe_description %></td>
  </tr>
    <% end %>
    <%= paginate @recipes %>
</tbody>
</table>

</div>
</div>
</div>