<div class="container mt-5 mb-5">
  <div class="row">
  <div class="col-10">
<p><strong>投稿したレシピ</strong></p>
</div>
<%= link_to "下書き", recipes_draft_path, class:"btn btn-success" %>

<table class="table mt-3">
  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.get_image(200,200), class: 'rounded img img-responsive full-width' %><% end %></td>
    <td class="align-middle"><strong><%= recipe.dish_name %></strong></td>
    <td class="align-middle"><%= recipe.recipe_description %></td>
    <td class="align-middle"><%= link_to "レシピを編集する",edit_recipe_path(recipe.id), class:"btn btn-success"%></td>
    <td class="align-middle"><%= link_to "削除する",recipe_path(recipe.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class:"btn btn-danger" %></td>
  </tr>

  <% end %>
</table>
<%= link_to "back", customers_my_page_path, class:'text-secondary ml-4' %>
<%= paginate @recipes %>
</div>
</div>
