<div class="container mt-5">
<p><%= @customer.nickname %>さんの会員詳細</p>

<p>ID<%= @customer.id %></p>
<p><%= @customer.profile_image %><%= @customer.nickname %></p>
<p>メールアドレス<%= @customer.email %></p>
<p>自己紹介文<%= @customer.self_introduction %></p>
<p>ステータス</p>
<% if @customer.is_deleted == false %>
     <span> 有効</span>
      <% else %>
     <span> 退会</span>
      <% end %>
<p><%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success" %></p>
</div>
