<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-3 mt-5">
      <% @categories.each do |categoriy| %>
      <li class="list-group-item">
        <%= link_to categoriy.categoriy_name ,admin_root_path(categoriy_id: categoriy.id) %>
      </li>
      <% end %>
      </div>

    <div class="col-9">
      <% if @word %>
      <h2><%= @word %>のレシピ</h2>
      <% else %>
      <h2>すべてのレシピ</h2>
      <% end %>

      <table class="table mt-3">
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <td><%= link_to admin_recipe_path(recipe.id) do %><%= image_tag recipe.get_image(200,200), class: 'rounded img img-responsive full-width' %><% end %></td>
            <td class="align-middle"><strong><%= recipe.dish_name %></strong></td>
            <td class="align-middle"><%= recipe.recipe_description %></td>
            <td class="align-middle"><%= link_to "削除する",admin_recipe_path(recipe.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class:"btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @recipes %>
    </div>
  </div>
</div>  