
<p><strong>新規会員登録</strong></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label "ニックネーム" %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-outline-success" %>
  </div>
<% end %>


登録してある方は<%= render "public/shared/links" %>
