<!DOCTYPE html>
<html>
  <head>
    <title>Ndeli</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <nav class="navbar navbar-expand-lg navbar-white border-bottom">
        <div class="container">
          <div class="logo_area">
          <a class="navbar-brand"><%= link_to root_path do %><%= image_tag 'logo.jpg',:size =>'150x150',class:"logo image_switch" %><% end %></a>
          </div>
            <%= search_form_for @search,url: recipes_path,method: :get do |f| %>
            <%= f.text_field :dish_name_cont, placeholder: '名前を入力...' %>
            <%= f.submit ("検索する") %>
            <% end %>
            <!--↑検索フォーム-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if request.referer&.include?('/admin')%>
                <%= render 'layouts/admin_header' %>
                <% else %>
                <%= render 'layouts/customer_header' %>
                <% end %>
          </div>
        </div>
      </nav>

  </header>
    <%= yield %>
  </body>
</html>
